.conteneur {
    -fx-border-width:10;
    -fx-alignment:center;
}

#vue-racine {
    
}

#vue-historique {
	
-fx-background-color:#87CEEB;
-fx-border-color:white;
}

#vue-menu {
-fx-background-color:#87CEEB;
-fx-border-color:white;
}

.gros-bouton {

-fx-font-size: 1.2em;
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.gros-bouton:pressed {
    -fx-font-size: 1.5em;
}

.gros-bouton:hover {
    -fx-cursor: hand;
}

.petit-espace-vertical {

    -fx-min-height:20px;
    -fx-max-height:100px;


}

.titre{
   -fx-font-size: 25px; 
}

.add-bouton{
-fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.del-bouton{
-fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.add-bouton:pressed {
    -fx-font-size: 1.5em;
}

.add-bouton:hover {
    -fx-cursor: hand;
}

.del-bouton:pressed {
    -fx-font-size: 1.5em;
}

.del-bouton:hover {
    -fx-cursor: hand;
}
.bouton-rouge {
    -fx-background-color: 
        linear-gradient(from 90% 100% to 0% 100%, #b72353 0%, #9f2836 100%),
        #a83145,
        #ea5c63,
        radial-gradient(center 50% 50%, radius 100%, #ea5c62, #d33a54);
}

.historique {
   -fx-padding: 8 15 15 15;
   -fx-background-color: derive(black, 75%);
   -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
   -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
   -fx-background-radius: 8;
}

.label-nom-joueur{
   -fx-text-fill: derive(black, 25%);
   -fx-font-size:3em;
}
.scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
 }
 
 .scroll-bar .track {
    -fx-background-color: derive(black, 75%);
    -fx-border-color: transparent;
    -fx-background-radius: 8;
 }
 
 .scroll-bar .thumb {
     -fx-padding: 8 15 15 15;
     -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
     -fx-background-radius: 8;
     -fx-background-color: 
         linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
         #9d4024,
         #d86e3a,
         radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
     -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
 }
 
 .scroll-bar .increment-button,
 .scroll-bar .decrement-button,
 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow,
 .scroll-bar .corner {
     -fx-shape : " ";    
     -fx-background-color: transparent;
     -fx-visibility: hidden;
 }
 
 .scroll-pane .viewport {
     -fx-background-color:transparent;
     -fx-background:transparent;
 }
 
 .scroll-pane {
     -fx-background-color:transparent;
     -fx-background:transparent;
     -fx-hbar-policy:never;
 }